

.main-head {
  z-index: 1000;
  padding: 25px;
  height: 90px;
  background-color: gray;
  position: sticky;
  top: 0;
}
.head-tb {
  float: left;
  color: white;
  margin-left: 22px;
}
.span-f, .span-t, .span-fo {
  margin-right: 10px;
}
.div-sea {
  float: right;
  margin-right: 282px;
}
.sld-img {
  width: 1350px;
  height: 600px;
  overflow: hidden;
}
.div-aa {
  position: absolute;
  top: 21px;
  right: 36px;
  float: right;
}
.span-aa2 {
  margin-left: 12px;
}
.main-foot {
  padding: 110px;
  overflow: hidden;
  background-color: gray;
  position: relative;
}
.div-ftb {
  float: left;
  color: white;
  margin-left: 22px;
}
.div-lst1, .div-lst2 {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.div-prt {
  position: absolute;
  left: 42px;
  top: 32px;
}
.div-cmp {
  position: absolute;
  left: 182px;
  top: 32px;
}
.main-msg {
  text-align: center;
  padding: 80px;
  color: gray;
}
.main-srv {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: gray;
  color: white;
  padding: 20px;
}
.div-srv {
  text-align: center;
}
.yu {
  margin: 40px;
}
.div-hrv {
  color: gray;
}
.bum {
  text-align: center;
  margin: 40px;
}
.bm {
  text-align: center;
  margin: 0 auto;
}
.main-fmo {
  padding: 10px;
  overflow: hidden;
  background-color: black;
  font-size: 14px;
  position: relative; 
}
.div-fmo {
  float: left;
  color: white;
  margin-left: 15px;
}
.span-fmo {
  margin-right: 10px;
}
.div-fmo2 {
  float: right;
}
.div-cir {
  height: 40px;
  width: 40px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 22px;
  right: 402px;
}
.div-cir2 {
  height: 40px;
  width: 40px;
  background-color:black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 22px;
  right: 352px;
}
.div-cir3 {
  height: 40px;
  width: 40px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 22px;
  right: 302px;
}
.div-cir4 {
  height: 40px;
  width: 40px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 22px;
  right: 252px;
}
.div-cir5 {
  height: 40px;
  width: 40px;
  background-color:black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 22px;
  right: 202px;
}
.div-cn {
  display: flex;
  flex-wrap: wrap;
}
.sub-cn2 {
  flex: 70%;
}
.sub-cntimg2 {
  width: 10px; 
  height: 10px; 
  overflow: hidden; 
} 
.sub-cn {
  flex: 30%;
  background-color: yellow;
}
.sub-cn h1 {
  text-align: center;
}
.h-br {
  margin: 30px 0 0 10px;
}
.sel-br {
  margin: 20px 0 0 10px;
}
.h-mod {
  margin: 30px 0 0 10px;
}
.sel-mod {
  margin: 20px 0 0 10px;
}
.h-ctg {
  margin: 10px 0 0 10px;
}
.sel-ctg {
  margin: -25px 10px 0 0;
  float: right;
  position: relative;
}
.h-yr {
  margin: 20px 0 0 10px;
}
.sel-yr {
  float: right;
  position: relative;
  margin: -25px 10px 0 0;
}
.h-mil {
  margin: 30px 0 0 10px;
}
.sel-mil {
  float: right;
  position: relative;
  margin: -25px 10px 0 0;
}
.h-pri {
  margin: 40px 0 0 10px;
}
.sel-pri {
  float: right;
  position: relative;
  margin: -25px 10px 0 0;
}
.sub-cn hr {
  text-align: center;
}
.div-cnt {
  margin: 20px 0 20px 20px;
}
.sub-cfrm {
  position: relative;
  border-style: solid;
  width: 400px;
  height: 500px;
}
.cfrm-img {
  position: absolute;
  top: 0;
  width: 394px;
  height: 300px;
  overflow: hidden;
} 
.sub-cfrm hr {
  position: absolute;
  margin: 300px 0 0 0;
  width: 100%;
}
.sub-cfrm h3 {
  position: absolute;
  margin: 310px 0 0 20px;
}
.cfrm-p {
  position: absolute;
  margin: 360px 0 0 20px;
}
.cfrm-p2 {
  position: absolute;
  top: 360px;
  right: 20px;
}
.cfrm-btn {
  position: absolute;
  margin: 400px 180px 0 160px;
}
.sub-cfrm h5 {
  position: absolute;
  top: 250px;
}
.sub-cfrm h6 {
  position: absolute;
  top: 200px;
}
.cfrm-div1 {
  top: 0;
}
.cfrm-div2 {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 30%;
  background-color: thistle;
}
.subs1 {
  flex: 55%;
}
.subs2 {
  flex: 45%;
}
.div-rvw {
  padding: 20px;
}
.div-subrvw {
  padding: 20px;
  width: 100%;
  height: 330px;
  /* top: 0; */
  text-align: center;
}
.div-err {
  width: 100%;
  height: 330px;
  /* margin: 80px auto; */
  /* padding: 75px; */
}
.div-err div {
  top: 0;
  text-align: center;
}
.div-frm {
  width: 100%;
  height: 330px;
  top: 0;
  text-align: center;
}
.div-rsv {
  width: 100%;
  height: 330px;
  top: 0;
  text-align: center;
}
/* .s-frm {
  text-align: center;
} */
.frm-sbm {
  color: white;
  padding: 10px 10px;
  background-color: blue;
  border: none;
}
.div-tmp {
  padding: 20px;
  width: 100%;
  height: 330px;
}
.sub-tmp {
  text-align: center;
}
.div-log, .div-reg {
  text-align: center;
  padding: 20px;
  width: 100%;
  height: 330px;
}
.div-srs {
  /* text-align: center; */
  padding: 20px;
}
/* .cfrm-img2 {
  position: absolute;
  top: 0;
  left: 2px;
  width: 54px;
  height: 54px;
  overflow: hidden;
}  */
/* width: 394px;
  height: 300px; */